[user]
	name = Fernando Borretti
	email = eudoxiahp@gmail.com
[diff]
	tool = meld
[color]
	ui = auto
[alias]
	tree = log --pretty='%Cgreen%h%Creset [%ai] %s %Cred<%Creset%an%Cred>' --decorate --graph
