/* General */
* { font-family: Helvetica; }
body { margin: 8px; }

/* Columns */
.column { zoom: 1; margin: 0 20px; }
.column:before, .column:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.column:after { clear: both; }

#bookmarks { float: right; width: 60%; }
#links { float: left; width: 30%; }

/* Main links bar */

li {
    margin-bottom: 3px;
}

ul {
    margin: 0;
    list-style-type: none;
}

/* Links */
a { text-decoration: none; }
a:link { color: #AD3108; }
a:visited { color: #AD3108; }
a:hover { text-decoration: underline; }
