* {
    font-family: Helvetica;
}

a {
    padding: 1px;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #fff;
}

li {
    margin: 1px 0;
}

a:link {
    color: #AD3108;
}
a:visited {
    color: #AD3108;
}
a:hover {
    border: 1px solid #000;
}

ul {
    margin: 0;
    list-style-type: none;
}
