* {
    font-family: "Noto Sans Mono";
    font-size: 15px;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

#workspaces button {
    color: #ffffff;
    background-color: transparent;
    padding: 0 5px;
    border: none;
    border-radius: 0;
}

#workspaces button:not(.empty) {
    font-weight: bold;
}

#workspaces button.focused {
    background-color: #333333;
}

#workspaces button:hover {
    background: black;
}

#clock,
#tray,
#wireplumber,
#battery {
    padding: 0 10px;
    border-left: 1px solid #ffffff;
}
