* {
    color: white;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

window {
    background-color: black;
}

#workspaces {
    font-family: "Noto Sans Mono", sans-serif;
    font-size: 16px;
}

#clock,
#tray,
#wireplumber,
#battery {
    font-family: "Noto Sans Mono", sans-serif;
    font-size: 14px;
}

#workspaces button {
    color: white;
    background-color: transparent;
    padding: 0 8px;
    border: none;
}

#workspaces button:not(.empty) {
    font-weight: bold;
}

#workspaces button:hover {
    background: black;
}

#workspaces button.focused {
    background-color: #444;
}

#clock,
#tray,
#wireplumber,
#battery {
    padding: 0 10px;
    border-left: 1px solid white;
}
