name: check
on: push

jobs:
  # Ensure .nix files are formatted.
  format:
    name: Check Nix Formatting
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install nix
        uses: DeterminateSystems/nix-installer-action@v20

      - run: nixfmt --check .
